.field{
  width: 300px;
  padding-bottom: 20px;
}

.colour-border{
  border: 3px solid dorgb(36, 42, 63);
  padding: 10px;
}

.header{
  padding: 10px;
}

body{
  padding: 10px;
  background-color: antiquewhite;
}